/*输入框*/
.controller_div {
    border-right: 1px solid #777777;
}

.year_input {
    width: 70px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.year_show_div {
    margin-left: 5px;
    width: 70px;
    height: 75px;
    float: left;
}

.time_up_year {
    height: 25px;
    width: 70px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
}

.time_up_year:disabled {
    cursor: not-allowed;
}

.time_up_year:disabled:hover {
    cursor: not-allowed;
}

.time_up_year > svg {
    width: 70px;
    height: 25px;
    fill: #7f7f7f;
}

.time_up_year > svg > path {
    fill: #ffffff;
}

.time_up_year:hover > svg > path {
    fill: #7f7f7f;
}

.time_down_year {
    height: 25px;
    width: 70px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    cursor: pointer;
}

.time_down_year:disabled {
    cursor: not-allowed;
}

.time_down_year:disabled:hover {
    cursor: not-allowed;
}

.time_down_year > svg {
    width: 70px;
    height: 25px;
    fill: #7f7f7f;
}

.time_down_year > svg > path {
    fill: #ffffff;
}

.time_down_year:hover > svg > path {

    fill: #7f7f7f;
}

/*输入框*/

.month_input {
    width: 55px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.month_show_div {
    width: 55px;
    height: 75px;
    float: left;
}

.time_up_month {
    height: 25px;
    width: 55px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
}

.time_up_month:disabled {
    cursor: not-allowed;
}

.time_up_month:disabled:hover {
    cursor: not-allowed;
}

.time_up_month > svg {
    width: 55px;
    height: 25px;
    fill: #7f7f7f;
}

.time_up_month > svg > path {
    fill: #ffffff;
}

.time_up_month:hover > svg > path {
    fill: #7f7f7f;
}

.time_down_month {
    height: 25px;
    width: 55px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
    cursor: pointer;
}

.time_down_month:disabled {
    cursor: not-allowed;
}

.time_down_month:disabled:hover {
    cursor: not-allowed;
}

.time_down_month > svg {
    width: 55px;
    height: 25px;
    fill: #ffffff;
}

.time_down_month > svg > path {
    fill: #ffffff;
}

.time_down_month:hover > svg > path {
    fill: #7f7f7f;
}

/*控制前后的div*/
.pre_div {
    float: left;
    width: 25px;
    height: 73px;
    margin-left: 2px;
    background-color: transparent;
}

/*
.pre_div:hover {
    background-color: #7f7f7f;
}
*/

.pre_div > svg {
    height: 40px;
    width: 18px;
    margin-top: 17px;
}

.pre_div > svg > path {
    fill: #fff;
}

.pre_div > svg > path:hover {

    fill: #7f7f7f;
}

.hide_div {
    width: 25px;
    height: 72px;
    float: right;
    background: #313133;
    border-left: 1px solid #777777;
    border-right: 1px solid white;

    -moz-border-radius-bottomright: 5px; /* Gecko browsers */
    -moz-border-radius-topright: 5px; /* Gecko browsers */
    -webkit-border-top-right-radius: 5px; /* Webkit browsers */
    -webkit-border-bottom-right-radius: 5px; /* Webkit browsers */
    border-top-right-radius: 5px; /* W3C syntax */
    border-bottom-right-radius: 5px; /* W3C syntax */
}

.hide_div:hover {
    background-color: #7f7f7f;
}

.hide_div > svg {
    width: 25px;
    height: 73px;
}

.hide_div > svg > rect {
    width: 15px;
    height: 2px;
    fill: white;
}

/*
.hide_div > svg > rect:hover {
    fill: #7f7f7f;
}*/
